// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//paleta LAKE

//movistar
/* $color1: #8DC63F;
$color2: #00517A;
$color3: #51C6D9;
$color4: #D3E1E4;
$color5: #DDE8EA; */

$color1: #007f5f;
$color2: #2b9348;
$color3: #55a630;
$color4: #80b918;
$color5: #aacc00;
$color6: #bfd200;
$color7: #d4d700;
$color8: #dddf00;
$color9: #eeef20;
$color10: #ffff3f;


