
.fondo_panel{
    background-color: $color1;
}

.flex_column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left; 
}

.flex_column_center  button{
    text-align: left;
}

.flex_row_perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel{
    margin: 0px 0 0 0;
}
.panel nav .selected_li_button button{
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid $color4;
}

.panel nav .selected_li_button button:hover{
    background-color: $color3;
    text-decoration: none;
}

.active{
    background-color: $color3;
}

.perfil{
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}
.usuario_perfil{
    margin-left:15px;
    text-align: left;
    display:flex;
    flex-direction: column;
    font-weight: bold;
}
