
.fondo_panel{
    background-color: $color1;
}

.flex_column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center; 
}

.panel{
    margin: 0px 0 0 0;
}
.panel nav .selected_li_button button{
    color: $color2;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid $color2;
    border-radius: 2px;
}

.panel nav .selected_li_button button:hover{
    background-color: #eeeeee;
    text-decoration: none;
}

.active{
    background-color: #eeeeee;
}
