.Main_Accesos{
    background-color: $color9;
    padding: 20px;
    border-radius: 10px;
}

.Main_Accesos .card-header{
    background-color:$color7;
}

.tab-content .active{
    background-color: white;
}

.estado_activo{
    background-color: #28A745;
    color:white;
    border-radius: 4px;
    padding: 2px;
}

.Main_Accesos .nav-item a{
    color:#495057;
}