


#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.section_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row_flex{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.box_users{
    background-color: #A3C86D;
    width: 200px;
    height: 100px;
}

.box_category{
    background-color: #FF7857;
    width: 200px;
    height: 100px;
}

.box_productos{
    background-color: #7ACBEE;
    width: 200px;
    height: 100px;
}

.box_ventas{
    background-color: #FDD761;
    width: 200px;
    height: 100px;
}

.seccion_icono{
    width: 90px;
}
.seccion_box_content{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}